<h1 mat-dialog-title>Fehlerhafte UN-Nummer</h1>
<div mat-dialog-content>
  <p>Die eingegebene UN-Nummer {{data.errorUN}} hat im Nüssler keinen PAC-Wert hinterlegt!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()" cdkFocusInitial>Verstanden</button>
</div>
