.inputBlack {
  color: black;
}

.mat-success {
  background-color: green;
  color: #ffffff;
  margin-right: 10px;
}

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

.mat-toolbar {
  color: white;
  background-color: #AC2525;
}

.mat-raised-button {
  margin-bottom: 10px;
}

.mat-form-field {
  display: block;
}

.mat-checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.infoTip {
  vertical-align: middle;
}

.content {
  padding: 50px;
}

