<div class="content">
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" ngStyle>
    <div>
      <mat-card>
        <mat-toolbar>UN-Gefahrnummer und Menge eingeben</mat-toolbar>
        <mat-form-field>
          <mat-label>UN-Gefahrennummer</mat-label>
            <input matInput placeholder="" id="gefahrnummer" type="number" value="{{input?.unNumb}}"
                   required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Menge in kg</mat-label>
            <input matInput placeholder="" id="menge" type="number" value="{{input?.menge}}" required/>
        </mat-form-field>
        <mat-form-field>
          <label for="einsatzText">
            <mat-select id="einsatzText" [(value)]="einsatznummer" (selectionChange)="einsatzSelected(2)">
              <mat-option *ngFor="let e of einsaetze" [value]="e.einsatznummer" id="einsatzTextOption">
                {{e.einsatzstichwort}} {{e.notfallgeschehen}} {{e.strasse}}
              </mat-option>
            </mat-select>
          </label>
        </mat-form-field>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-toolbar>Tiefkaltes Gas oder Vollbrand</mat-toolbar>
        <mat-checkbox [(ngModel)]="_input.tiefkalt" type="checkbox" id="tiefkalt">Tiefkaltes Gas</mat-checkbox>
        <mat-checkbox [(ngModel)]="_input.vollbrand" type="checkbox" id="vollbrand">Vollbrand</mat-checkbox>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-toolbar>Adresse eingeben</mat-toolbar>
        <mat-form-field>
          <label for="plz">
            <input matInput placeholder="Postleitzahl" id="plz" type="text" value="{{input?.postleitzahl}}" required/>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label for="ort">
            <input matInput placeholder="Ort" id="ort" type="text" value="{{input?.ort}}" required/>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label for="strasse">
            <input matInput placeholder="Straße" id="strasse" type="text" value="{{input?.strasse}}"/>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label for="hausnr">
            <input matInput placeholder="Hausnummer" id="hausnr" type="text" value="{{input?.hausnr}}"/>
          </label>
        </mat-form-field>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-toolbar>Ausbreitungsradius berechnen</mat-toolbar>
        <mat-vertical-stepper #stepper>
          <ng-template matStepperIcon="done">
            <mat-icon>fiber_manual_record</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="edit">
            <mat-icon>fiber_manual_record</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
            <mat-icon>fiber_manual_record</mat-icon>
          </ng-template>
          <mat-step>
            <ng-template matStepLabel>Nebel</ng-template>
            <button mat-raised-button color="success" (click)="move(7, 'nebel', true)">JA</button>
            <button mat-raised-button color="warn" (click)="move(1, 'nebel', false)">NEIN</button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel> Starker Wind <br/> (Mehr als 5m/s (18km/h): Staub und lose Papierfetzen werden
              aufgewirbelt, <br/> dünne Äste bewegen sich.)
            </ng-template>
            <button mat-raised-button color="success" (click)="move(7, 'starkWind', true)">JA</button>
            <button mat-raised-button color="warn" (click)="move(2, 'starkWind', false)">NEIN</button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Himmel mehr als 50% bedeckt?</ng-template>
            <button mat-raised-button color="success" (click)="move(7, 'bedeckt', true)">JA</button>
            <button mat-raised-button color="warn" (click)="move(3, 'bedeckt', false)">NEIN</button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Tageszeit?</ng-template>
            <button mat-raised-button color="success" (click)="move(5, 'tag', true)">Tag</button>
            <button mat-raised-button color="warn" (click)="move(4, 'tag', false)">Nacht</button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Wind leicht? <br/> (Mehr als 5m/s (18km/h): Wind wird im Gesicht gespürt, <br/>
              eine
              Flagge wird gestreckt)
            </ng-template>
            <button mat-raised-button color="success" (click)="move(7, 'leichtWind', true)">JA</button>
            <button mat-raised-button color="warn" (click)="move(7, 'leichtWind', false)">NEIN</button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Sehr leichter Wind?</ng-template>
            <button mat-raised-button color="success" (click)="move(6, 'sehrLeichtWind', true)">JA</button>
            <button mat-raised-button color="warn" (click)="move(7, 'sehrLeichtWind', false)">NEIN</button>
            <div>
              <button mat-button (click)="move(3, 'back', false)">Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Jahreszeit</ng-template>
            <button mat-raised-button color="success" (click)="move(7, 'fruehlingSommer', true)">Frühling/Sommer
            </button>
            <button mat-raised-button color="warn" (click)="move(7, 'fruehlingSommer', false)">Herbst/Winter</button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Brand</ng-template>
            <button mat-raised-button (click)="submit(true)" color="success">JA</button>
            <button mat-raised-button (click)="submit(false)" color="warn">NEIN</button>
            <div>
              <button mat-raised-button (click)="resetMap()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card>
    </div>

  </div>
</div>


