<!--<div class="container" style="margin-top: 25px; margin-left: 25px; width: 100%">-->
<!--  <div>-->
<!--    <app-einsatzmittel-list></app-einsatzmittel-list>-->
<!--  </div>-->
<!--  <div >-->
<!--    <app-feuerwehr-list></app-feuerwehr-list>-->
<!--  </div>-->
<!--</div>-->


<div class="content" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center" ngStyle style="padding: 50px">
      <app-einsatzmittel-liste style="width: 70%"></app-einsatzmittel-liste>
      <app-feuerwehr-list style="width: 20%"></app-feuerwehr-list>
</div>
