<mat-card id="lagekarte">
  <mat-toolbar>Lagekarte</mat-toolbar>
  <mat-card-content>
    <google-map
      height="700px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      id="map"
    >
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="onMarkerClick(marker)"
        (mapDragend)="updateMarker($event, marker)"
      >
      </map-marker>
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="printMap()">Lagekarte drucken</button>
  </mat-card-actions>
</mat-card>
