<mat-card>
  <mat-toolbar>Liste der offenen Einsätze</mat-toolbar>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource"
            matSortActive="notfallgeschehen" matSortDisableClear matSort style="width: 100%">

      <ng-container matColumnDef="einsatzstichwort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Einsatzname</th>
        <td style="max-width: 200px" mat-cell *matCellDef="let element"> {{element.notfallgeschehen + ' ' + element.strasse}} {{hausnummerOutput(element)}}</td>
      </ng-container>



      <ng-container matColumnDef="fzghinzu">
        <th mat-header-cell *matHeaderCellDef> Fahrzeug hinzufügen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="addFzg(element)">Fahrzeug hinzufügen</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>
    <div *ngIf="dataSource.data.length === 0"><h2 style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Segoe UI';">Keine offenen Einsätze vorhanden</h2></div>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
