<div class="header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</div>
<mat-dialog-content>
  <p [innerHTML]="data.text"></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="delete()" color="warn">Löschen</button>
  <button mat-raised-button (click)="cancel()">Abbrechen</button>
</mat-dialog-actions>
