th {
  font-weight: bold;
  font-family: Segoe UI;
  color: black;
  alignment: center;
}

td {
  font-family: Segoe UI;
  color: black;
}

.content {
  padding: 50px;
  background: white;
}

label {
  font-weight: bold;
  font-size: larger;
}

mat-form-field {
  width: 100%;
}

.fahrzeugButtons {
  text-align: center;
  margin: 0 100px;
}


#printFeuerwehrliste {
  margin-left: 10px;
}
