<mat-card class="mat-elevation-z8" style="width: 100%; height: fit-content">
  <mat-card-header>
    <div class="buttons">
      <button mat-raised-button id="addFeuerwehr" (click)="feuerwehrAnlegen()">Anlegen</button>
      <button mat-raised-button id="printFeuerwehrliste" (click)="generateFeuerwehrliste()">Liste drucken</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" #sortFeuerwehren='matSort' matSort style="width: 100%"
           matSortActive="ort" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="ort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Feuerwehr</th>
        <td mat-cell *matCellDef="let element"> {{element.ort}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button id='editFeuerwehr' (click)="feuerwehrBearbeiten(element)">bearbeiten</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button id='deleteFeuerwehr' (click)="deleteFeuerwehrFromList(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator
      #paginatorFeuerwehren="matPaginator"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>

  </mat-card-content>

  <div *ngIf="dataSource.data.length === 0"><h2 style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Segoe UI';">Keine Feuerwehren verfügbar</h2></div>
</mat-card>

