<mat-toolbar style="background-color: #AC2525; text-align: center">
  <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bold; font-family: 'Segoe UI'; ">
    <span style="color: white">{{this.title}}</span>
  </div>
</mat-toolbar>
<br/>
<table>
  <tr>
    <div>
      <mat-form-field>
        <mat-label>Einsatzstichwort</mat-label>
        <input id="Einsatzstichwort" matInput placeholder="" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Notfallgeschehen</mat-label>
        <input id="notfallgeschehen" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sachverhalt</mat-label>
        <input id="sachverhalt" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alarmiertes Einsatzmittel</mat-label>
        <input id="alarmierendesEinsatzmittel" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label id="d">Eingangszeit</mat-label>
        <input matInput type="datetime-local" placeholder="" id="Eingangszeit" required>
      </mat-form-field>
    </div>
  </tr>
  <th style="display: table">Einsatzziel</th>
  <tr>
    <div>
      <mat-form-field>
        <mat-label>Objekt</mat-label>
        <input id="objekt" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Straße</mat-label>
        <input id="strasse" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hausnummer</mat-label>
        <input id="hausnummer" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>PLZ</mat-label>
        <input id="PLZ" matInput placeholder="" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ort/Stadt</mat-label>
        <input id="Ort/Stadt" matInput placeholder="" required>
      </mat-form-field>
    </div>
  </tr>

  <th class="laufend" style="display: none; margin-right: 0px">laufender Einsatz</th>
  <tr class="laufend" style="width: 100%; display: none">
    <div>
      <mat-form-field>
        <mat-label>Startzeit</mat-label>
        <input type="datetime-local" id="startzeit" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endzeit</mat-label>
        <input type="datetime-local" id="endzeit" matInput placeholder="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" name="stauts">
          <mat-option *ngFor="let s of status" [value]="s.value" id="einsatzStatusID">
            {{s.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </tr>

  <div>
    <mat-form-field>
      <mat-label>Notizen</mat-label>
      <textarea matInput id="Notizen" placeholder=""></textarea>
    </mat-form-field>
  </div>
</table>

<button mat-raised-button (click)="saveData()">{{this.btnText}}</button>
<button mat-raised-button [mat-dialog-close]>Abbrechen</button>
<button mat-raised-button id="delBtn" (click)="delete()">Löschen</button>

<mat-form-field style="margin-top: 30px">
  <mat-label>Select Nüssler</mat-label>
  <mat-select [(ngModel)]="selectedNuessler" name="stauts" (selectionChange)="nuesslerSelected()">
    <mat-option *ngFor="let n of nuesslerList" [value]="nuesslerList.indexOf(n)">
      {{n.zeitstempel}}: Außen={{n.ergebnisAussen}}  Innen={{n.ergebnisInnen}}
    </mat-option>
  </mat-select>
</mat-form-field>
