<div class="content" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" ngStyle>
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="top" ngStyle>
    <app-einsatz-open-list></app-einsatz-open-list>
    <app-einsatz-in-progress-list></app-einsatz-in-progress-list>
  </div>
  <app-lagekarte></app-lagekarte>
</div>

