<mat-toolbar style="background-color: #ac2525; text-align: center">
  <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bold; font-family: 'Segoe UI'; ">
    <span style="color: white">{{this.title}}</span>
  </div>
</mat-toolbar>

<div>
  <br/>
  <mat-form-field>
    <mat-label>Fahrzeugname</mat-label>
    <input id="Fahrzeugname" matInput placeholder="" required="true">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Kurzbezeichnung</mat-label>
    <input id="Kurzbezeichnung" matInput placeholder="" required="true">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>maximale Insassen</mat-label>
    <input id="Insassen" matInput placeholder="" required="true">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="selectedStatus" name="status" id="Status"  >
      <mat-option *ngFor="let s of status" [value]="s.id" id="einsatzmittelStatusID">
        {{s.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Feuerwehr</mat-label>
    <mat-select [(ngModel)]="selectedFeuerwehr" name="feuerwehr"  id="Feuerwehr" >
      <mat-option *ngFor="let f of feuerwehren" [value]="f.feuerwehrID" id="feuerwehrID" required="true">
        {{f.ort}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Notizen</mat-label>
    <textarea matInput id="Notizen" placeholder=""></textarea>
  </mat-form-field>
</div>
<br/>
<br/>

<button mat-raised-button (click)=saveData()>Speichern</button>
<button mat-raised-button [mat-dialog-close]>Abbrechen</button>
<button mat-raised-button id="delBtn" (click)="delete()">Löschen</button>
