<mat-toolbar style="background-color: #AC2525; text-align: center">
  <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bold; font-family: 'Segoe UI'; ">
    <span style="color: white">Fahrzeuge hinzufügen</span>
  </div>
</mat-toolbar>
<mat-dialog-content>
  <table id="Einsatztable" id="datatable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="dataSource.data.length">

    <ng-container matColumnDef="kurzbezeichnung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kurzbezeichnung</th>
      <td mat-cell *matCellDef="let element"> {{element.kurzbezeichnung}} </td>
    </ng-container>

    <ng-container matColumnDef="decreaseInsassen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Insassen entfernen</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button id="decreaseInsassen" (click)="decreaseInsassen(element)" [disabled]="element.minReached">-</button>
      </td>
    </ng-container>


    <ng-container matColumnDef="aktuelleInsassen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>aktuelle Insassen</th>
      <td mat-cell *matCellDef="let element"> {{element.aktuelleInsassen}} </td>
    </ng-container>

    <ng-container matColumnDef="increaseInsassen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Insassen hinzufügen</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button id="increaseInsassen" (click)="increaseInsassen(element)" [disabled]="element.maxReached">+</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="feuerwehr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feuerwehr</th>
      <td mat-cell *matCellDef="let element"> {{element.ort}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  <div *ngIf="dataSource.data.length === 0"><h2 style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Segoe UI';">Keine Einsatzmittel verfügbar!</h2></div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button *ngIf="dataSource.data.length" (click)="update()">Aktualisieren</button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Abbrechen</button>
</mat-dialog-actions>
