.mat-toolbar {
  color: white;
  background-color: red;
}

p {
  text-align: center;
}

.mat-card {
  margin-top: 25px;
}

agm-map {
  height: 700px;
  margin-left: auto;
  margin-right: auto; /* height is required */
}

table {
  width: 100%;
}

.mat-raised-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  padding: 50px;
}
