<div id="generalDiv" *ngIf="berechnungLoaded|async">


  <div>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center" ngStyle>
      <div>
        <mat-card>
          <mat-card-title>Klasse</mat-card-title>
          <mat-card-content><p id="klasse">{{this.klasse}}</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>Ausbreitungsradius im Inneren</mat-card-title>
          <mat-card-content><p id="werti">{{this._radius.werti}} m</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>Ausbreitungsradius im Freien</mat-card-title>
          <mat-card-content><p id="werta">{{this._radius.werta}} m</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>Ausbreitungswinkel</mat-card-title>
          <mat-card-content><p id="winkel">{{this.winkel}} °</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>Menge</mat-card-title>
          <mat-card-content><p id="men">{{this.menge}} kg</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>UN-Nummer</mat-card-title>
          <mat-card-content><p id="un">{{this.un}}</p></mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-title>PAC-Wert</mat-card-title>
          <mat-card-content><p id="pac">{{this.pac}}</p></mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center" ngStyle>


      <div>
        <mat-card>
          <mat-card-title>Entscheidungsdiagramm</mat-card-title>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="wetterlage">
                <th mat-header-cell *matHeaderCellDef> Wetterlage</th>
                <td mat-cell *matCellDef="let element"> {{element.wetterlage}} </td>
              </ng-container>

              <ng-container matColumnDef="auswahl">
                <th mat-header-cell *matHeaderCellDef> Auswahl</th>
                <td mat-cell *matCellDef="let element"> {{element.auswahl}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>


      <div>
        <mat-card>
          <mat-card-title>Berechnung</mat-card-title>
          <mat-card-content><p id="berechnung" style="text-align: left; white-space: pre-wrap">{{this.berechnung}}</p></mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>

  <div id="karteDiv" *ngIf="loaded|async">
    <google-map id="googleKarte"
                height="700px"
                width="100%"
                [center]="mapCenter"
                [zoom]="zoom"
                [options]="options"
    >
      <map-marker
        [position]="center"
        (mapDragend)="setCircle($event)"
        [options]="markerOptions"
      ></map-marker>
      <map-circle
        [center]="center"
        [radius]="_radius.werta"
        [options]="circleAussenOptions"
      ></map-circle>
      <map-circle
        [center]="center"
        [radius]="_radius.werti"
        [options]="circleInnenOptions"
      ></map-circle>
    </google-map>
  </div>


  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center" ngStyle>
    <button mat-raised-button id="back" (click)="goBack()">Zurück</button>
    <button mat-raised-button id="fixCirclesMarker" (click)="fixCircles()">Kreise fixieren</button>
    <button mat-raised-button id="returnToPosition" (click)="returnToOriginalPosition()">Zur Ausgangsposition zurück
    </button>
    <button mat-raised-button id="PDF" (click)="generatePDF()">PDF</button>
  </div>

</div>

<div id="spinnerDiv" *ngIf="(berechnungLoaded|async)==false">
  <mat-spinner></mat-spinner>
</div>



