<mat-drawer-container fullscreen class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-toolbar style="background-color: #AC2525">
      <div style="font-family: 'Segoe UI'; ">

        <span>Navigation</span>

      </div>

    </mat-toolbar>
    <div class="navBar">
      <div class="navBorder">
        <a mat-button [routerLink]="'/nuessler-page'">
          <mat-icon class="navIcon" svgIcon="canister"></mat-icon>
          Nüssler </a> <br/>
      </div>
      <div class="navBorder">
        <a mat-button [routerLink]="'/einsatzverwaltung'">
          <mat-icon class="navIcon" svgIcon="light"></mat-icon>
          Einsatzverwaltung </a>
      </div>
      <div class="navBorder">
        <a mat-button [routerLink]="'/einsatzmittelverwaltung'">
          <mat-icon class="navIcon" svgIcon="truck"></mat-icon>
          Einsatzmittelverwaltung </a>
      </div>
      <div class="navBorder">
        <a mat-button [routerLink]="'/einsatzstellenuebersicht'">
          <mat-icon class="navIcon" svgIcon="map"></mat-icon>
          Einsatzstellenübersicht </a>
      </div>
    </div>
  </mat-drawer>

  <mat-toolbar style="background-color: #AC2525;text-align: center">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bolder; font-family: 'Segoe UI'; ">
      <span>{{this.staticToolbarName}}</span>
    </div>

    <div id="themeToggle" align="end">
      <mat-slide-toggle (change)="toggleTheme($event)" style="font-size: 15px">Darkmode</mat-slide-toggle>
    </div>

  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-drawer-container>
