.mat-success {
  background-color: green;
  color: #ffffff;
  margin-right: 10px;
}

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

.mat-toolbar {
  color: white;
  background-color: red;
}

.mat-raised-button {
  margin-bottom: 10px;
}

.mat-form-field {
  display: block;
}

.navIcon{
  margin-right: 8px;
  align-content: center;
}

.navBar {
  margin-top: 10px;
}

.navBorder {
  margin-top: 5px;
}
