tr.example-detail-row {
  height: 0;
}

/*tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}*/

/*tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}*/

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}



.example-element-description {
  padding: 16px;
  font-size: 13px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

