<mat-card>
  <mat-toolbar>Liste der Einsätze in Arbeit</mat-toolbar>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource"
           matSortActive="notfallgeschehen" matSort style="width: 100%" multiTemplateDataRows>

      <ng-container matColumnDef="einsatzstichwort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Einsatzname</th>
        <td style="max-width: 200px" mat-cell *matCellDef="let element"> {{element.notfallgeschehen + ' ' + element.strasse}} {{hausnummerOutput(element)}}</td>
      </ng-container>


      <ng-container matColumnDef="fzghinzu">
        <th mat-header-cell *matHeaderCellDef> Fahrzeug hinzufügen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="addFzg(element)">Fahrzeug hinzufügen</button>
        </td>
      </ng-container>


      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> bearbeiten</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="editEinsatz(element)">bearbeiten</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == einsatzElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <div *ngFor="let zu of element.zuteilung">
                {{zu.kurzbezeichnung}} {{zu.ort}}
              </div>
            </div>
          </div>
        </td>
      </ng-container>


      <!--<tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>-->

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let element; columns: columns;"
          class="example-element-row"
          [class.example-expanded-row]="einsatzElement === element"
          (click)="einsatzElement = einsatzElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
    <div *ngIf="dataSource.data.length === 0"><h2 style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Segoe UI';">Keine Einsätze in Arbeit</h2></div>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
