<div class="header" mat-dialog-title style="background-color: #AC2525">
  <h1>
    <mat-icon>warning_amber</mat-icon>
    Ein Fehler ist aufgetreten
    <mat-icon>warning_amber</mat-icon>
  </h1>
</div>
<mat-dialog-content>
  <h3 style="white-space: pre-wrap">
    {{data}}
  </h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]>OK</button>
</mat-dialog-actions>
