.mat-dialog-title{
  color: white;
  display: flex;
  justify-content: center;
  vertical-align: middle;

}

.mat-icon {
  vertical-align: middle;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

h1 {
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: -moz-center;
  display:block;
}
