<mat-card class="mat-elevation-z8" style="width: 100%; height: fit-content">
  <mat-card-header>
    <div>
      <button mat-raised-button id="addFahrzeug" (click)="fahrzeugAnlegen(statusAnlegen)">Fahrzeug anlegen</button>
      <button mat-raised-button id="printEinsatzmittelliste" (click)="generateEinsatzmittelliste()">Einsatzmittelliste drucken</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource" #sortEinsatzmittel="matSort" style="width: 100%"
           matSortActive="einsatzmittelName" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="einsatzmittelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fahrzeugname</th>
        <td mat-cell *matCellDef="let element"> {{element.einsatzmittelName}} </td>
      </ng-container>

      <ng-container matColumnDef="kurzbezeichnung">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kurzbezeichnung</th>
        <td mat-cell *matCellDef="let element"> {{element.kurzbezeichnung}} </td>
      </ng-container>

      <ng-container matColumnDef="insassen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>max. Insassen</th>
        <td mat-cell *matCellDef="let element"> {{element.insassen}} </td>
      </ng-container>

      <ng-container matColumnDef="einsatzmittelStatusID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element" [style.color]="getColorOfStatus(element)">{{getStatus(element.einsatzmittelStatusID)}} </td>
      </ng-container>

      <ng-container matColumnDef="feuerwehrID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Feuerwehrname</th>
        <td mat-cell *matCellDef="let element">{{getFeuerwehr(element.feuerwehrID)}}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="fahrzeugBearbeiten(element, statusAnlegen)">Details</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button id='delete' (click)="deleteFromEinsatzmittelList(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator
      #paginatorEinsatzmittel="matPaginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </mat-card-content>
  <div *ngIf="dataSource.data.length === 0"><h2 style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Segoe UI';">Keine Einsatzmittel verfügbar</h2></div>
</mat-card>
