<mat-toolbar style="background-color: #AC2525; text-align: center">
  <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bold; font-family: 'Segoe UI'; ">
    <span style="color: white">{{this.title}}</span>
  </div>
</mat-toolbar>

<div>
  <br/>
  <mat-form-field>
    <mat-label>Feuerwehrname</mat-label>
    <input id="Feuerwehr" matInput placeholder="" required="true">
  </mat-form-field>
  <br/><br/>
  <button mat-raised-button (click)=saveData()>Speichern</button>
  <button mat-raised-button [mat-dialog-close]>Abbrechen</button>
</div>
