@import "~@angular/material/theming";

@include mat-core();

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
  color: white;
  background-color: #AC2525;
  font-family: Segoe UI;
}

app-einsatzmittel-liste .mat-card-header-text {
  margin: 0;
}

app-feuerwehr-list .mat-card-header-text {
  margin: 0;
}

$app-primary: mat-palette($mat-grey, 700, 800, 900);
$app-accent: mat-palette($mat-grey, 700, 800, 900);
$app-warn: mat-palette($mat-red);


$theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);
$theme-light: mat-light-theme($app-primary, $app-accent, $app-warn);

.color-scheme-dark {
  @include angular-material-theme($theme-dark);

  .mat-form-field .mat-form-field-label {
    color: white;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: grey;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: grey;
  }

}

.color-scheme-light {
  @include angular-material-theme($theme-light);

  .mat-form-field .mat-form-field-label {
    color: black;
  }
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

}


