th {
  font-weight: bold;
  font-family: Segoe UI;
  color: black;
}

td {
  font-family: Segoe UI;
  color: black;
}

.content {
  padding: 50px;
}


label{
  font-weight: bold;
  font-size: larger;
}

mat-form-field{
  width: 100%;
}

input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
