<div class="content" fxLayout="row" fxLayoutGap="15px" ngStyle>

  <mat-card style="visibility: hidden">
    <div class="buttons" style="visibility: visible">
      <button mat-raised-button (click)="einsatzAnlegen()">Einsatz anlegen</button>
      <br/>
      <br/>
      <button mat-raised-button (click)="generateListPDF()">Liste drucken</button>
      <br/>
      <br/>
      <button mat-raised-button color="warn" style="margin-top: 50px">
        <div>Mail Drag&Drop</div>
        <input id="fileInput" value="test" type="file" (change)="automaticInsert($event)" />
      </button>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8" style="width: 80%">
    <mat-card-content>
      <mat-form-field style="width: 20%; padding-right: 10px">
        <mat-label>Geben Sie einen Datumsbereich ein</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Startdatum">
          <input matEndDate formControlName="end" placeholder="Enddatum">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="applyFilter()" color="primary">Filtern</button>
      <table mat-table [dataSource]="dataSource" #einsatzSort='matSort' matSort style="width: 100%" matSortDisableClear>
        <ng-container matColumnDef="einsatzstichwort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Einsatzname</th>
          <td mat-cell *matCellDef="let element"> {{element.notfallgeschehen + ' ' + element.strasse}} {{hausnummerOutput(element)}}</td>
        </ng-container>


        <ng-container matColumnDef="einsatzStatusID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let element"
              [style.color]="getColorOfStatus(element)"> {{getStatusText(element.einsatzStatusID)}} </td>
        </ng-container>


        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button id="detail" (click)="detailsClicked(element)">Details</button>
          </td>
        </ng-container>


        <ng-container matColumnDef="druck">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button id='druck' (click)="generateEinsatzPDF(element)">
              <mat-icon>print</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="loesch">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button id='loesch' (click)="deleteEinsatzFromList(element)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="addFahrzeug">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button style="padding-top: 5px" id='addFahrzeug' (click)="addFahrzeug(element)">
              <mat-icon>add</mat-icon>
              <mat-icon svgIcon="truck"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-spinner *ngIf="isLoadingData"></mat-spinner>

</div>
