<mat-toolbar style="background-color: #AC2525; text-align: center; margin-bottom: 20px">
  <div style="align-content: center; flex: 1 1 auto; font-size: 26px; font-weight: bold; font-family: 'Segoe UI'; ">
    <span style="color: white">{{this.title}}</span>
  </div>
</mat-toolbar>
<mat-dialog-content>
  <p>Einsatzstichwort: {{this.einsatzstichwort}}</p>
  <p>Notfallgeschehen: {{this.notfallgeschehen}}</p>
  <p>Sachverhalt: {{this.sachverhalt}}</p>
  <p>Postleitzahl: {{this.PLZ}}</p>
  <p>Ort/Stadt: {{this.ortstadt}}</p>
  <p>Straße: {{this.strasse}}</p>
  <p>Hausnummer: {{this.hausnr}}</p>
  <p>Objekt: {{this.objekt}}</p>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button (click)="openAddFzg()">Fahrzeug hinzufügen</button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Abbrechen</button>
</mat-dialog-actions>



